body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cutomFooterLinks{
  font-size: 80%;
}

.customFooterLinksDiv {
  display: flex;
}

.customFooterDiv {
  background: rgb(255, 128, 0);
  display: flex;
}
.divider {
  background: rgb(255, 128, 0);
}

.convertCurrencyDiv {
  background: rgb(246, 246, 246);
  border-radius: 25px;
  box-shadow: 0px 0px 15px 7px rgb(222, 222, 222);
  padding: 3vh 1vw;
}

.currencyConverterOutput {
  background: white;
  border-color: rgb(239, 135, 51);
  border-radius: 10px;
  border-width: .1vw;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePageDiv {
  padding-inline: 8vw;
  padding-top: 2vh;
}
.headerImg{
  padding-left: 5vw;
  padding-top: 1vh;
}

.newsCardImg {
  margin-left: 10px;
  border-radius: 10%;
  object-fit: cover;
}


/* telephone */
@media (max-width: 450px)  {
  .firstRowOfForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .secondRowForm {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .button,
  .inputNumber,
  .currencyConverterOutput,
  .datePicker {
    width: 50vw;
    height: 4vh;

  }

  .selectWidth {
    width: 50vw;
  }

  .selectHeight {
    height: 4vh;
  }

  .headerImg {
    height: 7vh;
    width:  14vh;
  }

  .cardDiv {
    display: flex;
    flex-direction: column;
  }

  .newsCard {
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    background: rgb(246, 246, 246);
    margin-bottom: 1vh;

  }

  .newsCardImgDiv {
    height: 12vh;
    align-items: center;
  }

  .newsCardImg {
    height: 10vh;
    width: 10vh;
  }


  .googleChart {
    width: 100vw;
  }

  .divider {
    margin: 0px;
    margin-block: 1vh;
  }

  .newsCardTitle {
    white-space: normal;
    font-size: 1.3vh;
    margin: 0px
  }

  .newsCardDescription {
    font-size: 1.25vh;
  }

  .customFooterLinksDiv {
    flex-direction: row;
    
  }
  .customFooterDiv {
    flex-direction: column;
    align-items: center;
  }
  .customFooterDivider{
    margin: 0px;

  }

}

.customHeader {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px 5px rgb(222, 222, 222);
}

/* Pc */
@media (min-width: 1280px) {
  .firstRowOfForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

  }

  .secondRowForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .inputNumber,
  .select,
  .button,
  .datePicker {
    width: 10vw;
    height: 5vh;
  }

  .selectWidth {
    width: 10vw;
  }

  .selectHeight {
    height: 5vh;
  }

  .currencyConverterOutput {
    width: 15vw;
    height: 5vh;
  }

  .headerImg {
    height: 10vh;
    width:  20vh;

  }

  .newsCard {
    width: 100%;
    height: 18vh;
    display: flex;
    flex-direction: row;
    background: rgb(246, 246, 246);
    margin-bottom: 1vh
  }

  .newsCardImg {
    height: 15vh;
    width: 15vh;
  }

  .cardDiv {
    display: flex;
    flex-direction: column;
  }

  .newsCardImgDiv {
    height: 18vh;
    align-items: center;

  }

  .googleChart {
    width: 40vw;
  }

  .divider {
    background: rgb(255, 128, 0);
    margin: 0px;
  }

  .newsCardTitle {
    white-space: normal;
    font-size: 1.75vh;
    margin: 0px
  }

  .newsCardDescription {
    font-size: 1.5vh;
  }

  .customFooterLinksDiv {
    flex-direction: column;
    align-items: flex-start;
  }

  .customFooterDiv {
    flex-direction: row;
    justify-content: center;
  }

  .customFooterDivider{
    height: 10vh;

  }
}

/* Tablet */
@media  (min-width: 600px) and (max-width: 1280px)  {
  .firstRowOfForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
  }

  .secondRowForm {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .button,
  .inputNumber,
  .currencyConverterOutput,
  .datePicker {
    width: 50vw;
    height: 5vh;

  }

  .selectWidth {
    width: 50vw;
  }

  .selectHeight {
    height: 5vh;
  }

  .headerImg {
    height: 7vh;
    width: 30vw;

  }

  .cardDiv {
    display: flex;
    flex-direction: column;
  }

  .newsCard {
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    background: rgb(246, 246, 246);
    margin-bottom: 1vh;

  }

  .newsCardImgDiv {
    height: 12vh;
    align-items: center;
  }

  .newsCardImg {
    height: 10vh;
    width: 20vw;
  }


  .googleChart {
    width: 100vw;
  }

  .divider {
    margin: 0px;
    margin-block: 1vh;
  }

  .newsCardTitle {
    white-space: normal;
    font-size: 1.3vh;
    margin: 0px
  }

  .newsCardDescription {
    font-size: 1.25vh;
  }

  .customFooterLinksDiv {
    flex-direction: row;


  }
  .customFooterDiv {
    flex-direction: column;
    align-items: center;
  }
  .customFooterDivider{
    margin: 0px;

  }
}

