body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.chart{
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-number {
  display: flex;
  align-items: center;
}
.common-currencies-rates {
  border-radius: 10px;
  border-width: .11vw;
  border-style: solid;
  border-color: rgb(239, 135, 51);
  padding: 1.5vh;
  margin-inline: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(253, 243, 234, 1);
}

  .news-card {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    background: rgb(246, 246, 246);
    margin-bottom: 1vh;
    align-items: center;

  }

.country-flag {
  border-radius: 15%;
}


.cutom-footer-links {
  font-size: 80%;
}

.custom-footer-links-div {
  display: flex;
}

.custom-footer-div {
  background: rgb(255, 128, 0);
  display: flex;
}

.divider {
  background: rgb(255, 128, 0);
  margin-block: 1vh;

}

.convert-currency-div {
  background: rgb(246, 246, 246);
  border-radius: 25px;
  box-shadow: 0px 0px 15px 7px rgb(222, 222, 222);
  padding: 3vh 1vw;
}

.currency-converter-output {
  background: white;
  border-color: rgb(239, 135, 51);
  border-radius: 10px;
  border-width: .1vw;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-div {
  padding-inline: 8vw;
  padding-top: 2vh;
}

.header-img {
  padding-left: 5vw;
  padding-top: 1vh;
}

.news-card-img {
  margin-left: 10px;
  border-radius: 10%;
  object-fit: cover;
}

.custom-header {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px 5px rgb(222, 222, 222);
}


/* telephone */
@media (max-width: 768px) {
  .firstRowOfForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .second-row-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .country-flag {
    width: 5vw;
  }
.button,
  .input-number,
  .currency-converter-output,
  .date-picker {
    width: 40vw;
    height: 6vh;
  }

  .button ,
   .currency-converter-output{
    width: 85vw;
    
  }

  .select-width {
    width: 40vw;
  }

  .select-height {
    height: 6vh;
  }

  .header-img {
  
    width: 15vh;
  }

  .card-div {
    display: flex;
    flex-direction: column;
  }



  .news-card-img-div {
    height: 15vh;
    align-items: center;
  }

  .news-card-img {
    height: 12vh;
    width: 15vh;
  }

  .home-page-div {
  padding-inline: 2vw;
}
  .chart {
    width: 100%;
  }

  .divider {
    margin: 0px;
    margin-block: 1vh;
  }

  .news-card-title {
    white-space: normal;
    font-size: 1em;
    margin: 0px
  }

  .news-cardDescription {
    font-size: 0em;
  }

  .custom-footer-links-div {
    flex-direction: row;

  }

  .custom-footer-div {
    flex-direction: column;
    align-items: center;
  }

  .custom-footer-divider {
    margin: 0px;

  }

}


/* Pc */
@media (min-width: 1280px) and (max-width: 1920px) and (min-height: 720px) and (max-height: 1080px) {
  .firstRowOfForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

  }
  .common-currencies-rates-col{
    display: flex;
    justify-content: center;
    align-items:flex-start;
  }

  .country-flag {
    width: 1.5vw;
  }

  .second-row-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .input-number,
  .select,
  .button,
  .date-picker {
    width: 10vw;
    height: 5vh;
  }

  .select-width {
    width: 10vw;
  }

  .select-height {
    height: 5vh;
  }

  .currency-converter-output {
    width: 15vw;
    height: 5vh;
  }

  .header-img {
    height: 10vh;
    width: 20vh;

  }



  .news-card {
    width: 100%;
    height: 18vh;
    display: flex;
    flex-direction: row;
    background: rgb(246, 246, 246);
    margin-bottom: 1vh
  }

  .news-card-img {
    height: 15vh;
    width: 15vh;
  }
  .common-currencies-rates{
    width: 30vw;
  }

  .card-div {
    display: flex;
    flex-direction: column;
  }

  .news-card-img-div {
    height: 18vh;
    align-items: center;

  }

  .chart {
    width: 32vw;
  }

  .divider {
    background: rgb(255, 128, 0);

  }

  .news-card-title {
    white-space: normal;
    font-size: 1.75vh;
    margin: 0px
  }

  .news-cardDescription {
    font-size: 1.5vh;
  }

  .custom-footer-links-div {
    flex-direction: column;
    align-items: flex-start;
  }

  .custom-footer-div {
    flex-direction: row;
    justify-content: center;
  }

  .custom-footer-divider {
    height: 10vh;

  }
}

