body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chart {
  display: flex;
  height: 15vh;
  justify-content: center;
  align-items: center;
}



.custom-footer-links-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

}

.firstRowOfForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

}

.second-row-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.cutom-footer-links {
  font-size: 80%;
}

.custom-footer-div {
  background: rgb(255, 128, 0);
  display: flex;
}

.divider {
  background: rgb(255, 128, 0);
  margin-block: 1vh;

}

.input-number {
  display: flex;
  align-items: center;
}

.common-currencies-rates {
  border-radius: 10px;
  border-width: .11vw;
  border-style: solid;
  border-color: rgb(239, 135, 51);
  padding: 1.5vh;
  margin-inline: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(253, 243, 234, 1);
}

.news-card {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  background: rgb(246, 246, 246);
  margin-bottom: 1vh;
  align-items: center;

}

.news-card-img {
  margin-left: 10px;
  border-radius: 10%;
  object-fit: cover;
}


.country-flag {
  border-radius: 15%;
}




.convert-currency-div {
  /* height: 15vh; */
  background: rgb(246, 246, 246);
  border-radius: 25px;
  box-shadow: 0px 0px 15px 7px rgb(222, 222, 222);
  padding: 3vh 1vw;

}

.currency-converter-output {
  background: white;
  border-color: rgb(239, 135, 51);
  border-radius: 10px;
  border-width: .1vw;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-div {
  padding-inline: 8vw;
  padding-top: 2vh;
}

.header-img {
  padding-left: 5vw;
  padding-top: 1vh;
}


.custom-header {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px 5px rgb(222, 222, 222);
}


/* Small devices (phones, 0px–767px) */
@media (max-width: 767px) {
  .firstRowOfForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .second-row-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .country-flag {
    width: 5vw;
  }

  .button,
  .input-number,
  .currency-converter-output,
  .date-picker {
    width: 75vw;
    height: 6vh;
  }

  .button {
    width: 50vw;

  }

  .select-width {
    width: 75vw;
  }

  .select-height {
    height: 6vh;
  }

  .header-img {

    width: 15vh;
  }

  .card-div {
    display: flex;
    flex-direction: column;
  }


  .news-card-img-div {
    height: 15vh;
    align-items: center;
  }

  .news-card-img {
    height: 12vh;
    width: 15vh;
  }

  .common-currencies-rates {
    margin-top: 5vh;
  }

  .home-page-div {
    padding-inline: 2vw;
  }

  .chart {
    margin-block: 20vh;
    width: 100%;
  }

  .divider {
    margin: 0px;
    margin-block: 1vh;
  }

  .news-card-title {
    white-space: normal;
    font-size: 1em;
    margin: 0px
  }

  .news-cardDescription {
    font-size: 0em;
  }

  .custom-footer-links-div {
    flex-direction: row;

  }

  .custom-footer-div {
    flex-direction: column;
    align-items: center;
  }

  .custom-footer-divider {
    margin: 0px;

  }

}

/* Large devices (desktops, 1025px and up) */
@media (min-width: 1025px) {


  .common-currencies-rates-col {
    display: flex;
    justify-content: center;
    align-items: flex-start;

  }

  .country-flag {
    width: 1.5vw;
  }

  .input-number,
  .select,
  .button,
  .date-picker {
    width: 10vw;
    height: 5vh;
  }

  .select-width {
    width: 10vw;
  }

  .select-height {
    height: 5vh;
  }

  .currency-converter-output {
    width: 15vw;
    height: 5vh;
  }

  .header-img {
    height: 10vh;
    width: 20vh;
  }


  .news-card {
    width: 100%;
    height: 18vh;
    display: flex;
    flex-direction: row;
    background: rgb(246, 246, 246);
    margin-bottom: 1vh
  }

  .news-card-img {
    height: 15vh;
    width: 15vh;
  }

  .common-currencies-rates {
    width: 30vw;
  }

  .card-div {
    display: flex;
    flex-direction: column;
  }

  .news-card-img-div {
    height: 18vh;
    align-items: center;

  }

  .chart {
    width: 32vw;


  }

  .divider {
    background: rgb(255, 128, 0);

  }

  .news-card-title {
    white-space: normal;
    font-size: 1.75vh;
    margin: 0px
  }

  .news-cardDescription {
    font-size: 1.5vh;
  }


  .custom-footer-div {
    flex-direction: row;
    justify-content: center;
  }

  .custom-footer-divider {
    height: 10vh;

  }

  .convert-currency-div {
    padding-inline: 2vw;
  }

}

/* Medium devices (tablets, 768px–1024px) */
@media (min-width: 768px) and (max-width: 1024px) {

  .chart,
  .convert-currency-div {
    height: 10vh;

  }


  .input-number,
  .select,
  .button,
  .date-picker {
    width: 15vw;
    height: 3vh;
    ;
  }

  .select-width {
    width: 15vw;
  }

  .select-height {
    height: 3vh;
  }

  .currency-converter-output {
    width: 15vw;
    height: 3vh;
  }

  .input-number,
  .date-picker {
    width: 10vw;
  }

  .country-flag {
    width: 3vw;
  }

  .header-img {
    height: 8vh;
    width: 16vh;
    padding-left: 3vw;
  }

  .news-card {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    background: rgb(246, 246, 246);
    margin-bottom: 1vh;
    align-items: center;
  }

  .news-card-img {
    height: 8vh;
    aspect-ratio: 1 / 1;
    margin-left: 10px;
    border-radius: 10%;
    object-fit: cover;
  }

  .news-card-img-div {
    height: 10vh;
    align-items: center;
  }


  .chart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .news-card-title {
    font-size: 1.3em;
    margin: 0px;
    white-space: normal;
  }

  .news-cardDescription {
    font-size: 0.9em;
  }


  .custom-footer-div {
    flex-direction: row;
    justify-content: center;
  }

  /* 
  .custom-footer-divider {
    height: 5vh;
    margin-inline: 1vh;
  } */

  .home-page-div {
    padding-inline: 5vw;
  }
}